<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-8">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(45,108,177,0.6) 0%, rgba(45,108,177,0.9) 50%), url('cocktail_background.jpeg');">
  <div class="banner-content">
    <h1><%= @cocktail.name%></h1>
    <br>
    <p>What's the secret:</p>
    <br>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> of <%= dose.ingredient.name %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<div>

<div class="col-xs-12 col-sm-4">
  <div class="form-horizontal ">
    <div class="form-group">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>

        <%= f.input :ingredient_id, as: :select, collection: Ingredient.all, include_blank:  "Select a category" %>

          <%= f.input :description %>

        <div ><%= f.submit %></div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>

